.back-blue{
    background-color:blue;
    height: 100vh;
    padding: 50px;
}
.empower{
    color: white;
}
.By{
    color: white;
}
.white-card{
    background-color:blue;
    width: 30%;
}
.tech{
    color: white;
}